/* Variable define */

.theme-dark .markdown-source-view, .theme-dark .markdown-rendered {
  --text-normal: #c7c7c7;
  --text-faint: #888;
  --text-muted: #888;
  --heading-formatting: #888;
  --list-marker-color: #888;
}

/* Editor and Reading View */

a {
  color: #00aaff !important;
}

.theme-dark .markdown-source-view hr,
.theme-dark .markdown-rendered hr {
  border: solid 0.5px #555 !important;
}

.theme-light .markdown-source-view hr,
.theme-light .markdown-rendered hr {
  border: solid 0.5px #ccc !important;
}

.theme-dark .markdown-source-view,
.theme-dark .markdown-rendered {
  color: var(--text-normal) !important;
  background: #000 !important;
}

/* Editor current line background color */

.theme-dark div.cm-active {
  background-color: #66779360 !important;
}

.theme-light div.cm-active {
  background-color: #66779340 !important;
}

/* Editor current gutter line font color */

.theme-dark div.cm-gutterElement.cm-active {
  color: #fff !important;
}

.theme-light div.cm-gutterElement.cm-active {
  color: #000 !important;
}

/* File list */

.nav-file-title {
  margin-left: 4px !important;
}

div.nav-file-title::before {
  content: '-' !important;
  margin-right: 4px !important;
}

.theme-dark .nav-file-title.is-active,
.theme-dark .nav-folder-title.is-active {
  color: #fff !important;
  background-color: #424b5b !important;
}

.theme-light .nav-file-title.is-active,
.theme-light .nav-folder-title.is-active {
  color: #fff !important;
  background-color: #677793 !important;
}

/* Table */

.cm-s-obsidian .HyperMD-table-row-0 {
  color: var(--text-normal) !important;
}

.markdown-rendered table {
  width: 100%;
}

.markdown-rendered table th {
  white-space: nowrap !important;
  font-size: 1em !important;
  font-weight: bold !important;
}

.theme-dark .markdown-rendered table th {
  color: #ffffff !important;
  background: #424b5b !important;
}

.theme-dark .markdown-rendered table td,
.theme-dark .markdown-rendered table th {
  border-color: #555 !important;
}

.theme-dark .markdown-rendered table tr:nth-child(even) {
  background-color: #cccccc40 !important;
}

.theme-dark .markdown-rendered table tr:hover {
  background-color: rgba(255, 255, 200, 0.4) !important;
}

.theme-light .markdown-rendered table th {
  color: #fff !important;
  background: #677793 !important;
}

.theme-light .markdown-rendered table td,
.theme-light .markdown-rendered table th {
  border-color: #ccc !important;
}

.theme-light .markdown-rendered table tr:nth-child(even) {
  background-color: #cccccc30 !important;
}

.theme-light .markdown-rendered table tr:hover {
  background-color: rgb(255, 255, 200) !important;
}

/* Code style */

.cm-hmd-frontmatter, .frontmatter-container {
  font-size: .75em !important;
}

code, .cm-inline-code, .HyperMD-codeblock {
  font-size: .9em !important;
}

.theme-dark .markdown-rendered code:not([class]),
.theme-dark .markdown-source-view .cm-inline-code {
  color: #5fc2f4 !important;
  background-color: #003b59 !important;
}

.theme-light .markdown-rendered code:not([class]),
.theme-light .markdown-source-view .cm-inline-code {
  color: #0190dc !important;
  background-color: #ddfaff !important;
}

.markdown-rendered pre code,
.obsidian-embedded-code-title__code-block-title+code[class*=language-],
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock,
.code-block-wrap {
  font-size: .84em !important;
}

.markdown-rendered pre .obsidian-embedded-code-title__code-block-title {
  font-size: .8em !important;
}

.obsidian-embedded-code-title__code-block-title .langName {
  line-height: 24px !important;
}

/* Better Codeblock  */

.obsidian-embedded-code-title__code-block-title {
  min-height: 1px !important;
  height: 30px !important;
  line-height: 24px !important;
}

.theme-dark .obsidian-embedded-code-title__code-block-title {
  color: var(--text-normal) !important;
}

.theme-light .obsidian-embedded-code-title__code-block-title {
  color: var(--text-normal) !important;
}

/* -------------------------------------- */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #606e87 !important;
}

.token.punctuation {
  color: #81a1c1 !important;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #b48ead !important;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a2bf8c !important;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #80a2c1 !important;
  background: none;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #81a1c1 !important;
}

.token.function {
  color: #8fbcbc !important;
}

.token.regex,
.token.important,
.token.variable {
  color: #ee9900 !important;
}

.token.important,
.token.bold {
  font-weight: bold !important;
}

.token.italic {
  font-style: italic !important;
}

.token.entity {
  cursor: help !important;
}
